html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: 50%;
}

body {
  background-image: linear-gradient(
      to top left,
      rgba(13, 19, 33, 0.8),
      rgba(62, 92, 118, 0.8)
    ),
    url(img/wallpaperflare.com_wallpaper.jpg);
  background-size: cover;
}

.drawer {
  position: relative;
  width: 40rem;
  height: 30rem;
  background-image: url(img/blank-floral-astronomical-frame-mockup-vector.jpg);
  background-size: cover;
  background-position-y: 0;
  left: 50%;
  transform: translatex(-50%);
  clip-path: polygon(
    0 0,
    0% 70%,
    25% 70%,
    35% 25%,
    65% 25%,
    75% 70%,
    100% 70%,
    100% 0
  );
  z-index: 5;
  transition: opacity 200ms ease-out;
}

.drawer.hide {
  opacity: 0;
}

.card.back {
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
  --card-width: 35rem;
  height: 55rem;
  background-image: url(img/birds-nature-design.jpg);

  background-size: cover;
  cursor: pointer;
  box-shadow: 0 0 0.5rem #3b5761;
  border-radius: 0.2rem;
  filter: brightness(0.4);
}

.card.back > .back-hidden {
  opacity: 0;
}

.card > .back-hidden {
  opacity: 1;
}

.card {
  position: absolute;
  top: -20%;
  left: 50%;
  width: 35rem;
  height: 55rem;
  transform: translateX(-50%);
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 0.5rem #3b5761;
  border-radius: 0.2rem;
  filter: brightness(1);
}

.background-color {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  height: 45rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: 0.4rem solid #dad6bf;
}

.quotation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3%;
  width: 90%;
  text-align: center;
  height: 95%;
  color: #333;
  font-size: 2.2rem;
}

.bottom-line {
  height: 2rem;
  width: 5rem;
  padding-top: 2rem;
  border-bottom: 0.2rem solid #666;
  margin-bottom: 2rem;
}

.author {
  height: 3rem;
  font-size: 1.7rem;
}

.card-return {
  transition: 1s;
  animation: card-back-brightness 1s forwards;
}

@keyframes card-back-brightness {
  to {
    filter: brightness(0.4);
  }
}

.card-get {
  animation: get-card 3s ease-in-out forwards;
}

@keyframes get-card {
  0% {
    filter: brightness(1);
    transform: translate(-50%, 100%);
  }
  20% {
    filter: brightness(2);
    box-shadow: 0 0 5rem #fff;
    z-index: 10;
  }
  40% {
    filter: brightness(4.5);
    box-shadow: 0 0 5rem #fff;
    box-shadow: 0 0 10rem #fff;
    box-shadow: 0 0 15rem #fff;
  }
  60% {
    filter: brightness(4.5);
    box-shadow: 0 0 5rem #fff;
    box-shadow: 0 0 10rem #fff;
    box-shadow: 0 0 15rem #fff;
    box-shadow: 0 0 20rem #fff;
    box-shadow: 0 0 25rem #fff;
    box-shadow: 0 0 30rem #fff;
  }
  80% {
    filter: brightness(2);
    box-shadow: 0 0 5rem #fff;
    box-shadow: 0 0 10rem #fff;
    box-shadow: 0 0 15rem #fff;
  }
  100% {
    filter: brightness(1);
    box-shadow: 0 0 5rem #fff;
    transform: translate(-50%, 100%) rotate3d(0, 1, 0, 720deg);
    z-index: 10;
  }
}
